
<form action="/payment/results/">
  
  <label for="rate">ARP</label>
  <input id="rate", type="text", placeholder="E.g. 5.42", name="user_apr">
  
  <label for="principal_input">Principal</label>
  <input id="principal_input", type="text", placeholder="How much principal?", name="user_pv">

  <label for="num_of_year">Number of years</label>
  <input id="num_of_year", type="text", placeholder="How many years to repay?", name="user_years">

  <button>Calculate monthly payment</button>

  
</form>






