<form action="/random/results/">
  <label for="low_limit">Minimum</label>
  <input id="low_limit" type="text" placeholder="E.g. 1.5" name="user_min">
  <label for="up_limit">Maximum</label>
  <input id="up_limit" type="text" placeholder="E.g. 4.5" name="user_max">

  <button>Pick random number</button>
</form>

